/* Start Global Rules */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700;800;900&family=Cairo:wght@300;400;500;600;700;800&display=swap");
:root {
  --purple-color: #3f51b5;
  --grey-color: #707070;
  --body-color: #f1f5f9;
  --box-color: white;
  --white-color: white;
  --black-color: black;
  --icon-color: #e5e5e5;
  --shadow-color: #ddd;
  --purple-alt-color: #f1f5f9;
  --title-color: #00eeff;
  --exam-color: var(--icon-color);
  --exam-alt-color: #ffeb6fbd;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
  line-height: 1.15;
}
body {
  margin: 0;
  background-color: var(--body-color);
}
body.dark-theme {
  --grey-color: #bcbac4;
  --body-color: #131417;
  --box-color: #1e1f26;
  --white-color: black;
  --black-color: white;
  --icon-color: #939393;
  --shadow-color: rgb(0 0 0 / 50%);
  --purple-alt-color: #3f51b5;
  --title-color: white;
  --exam-color: rgba(255, 255, 255, 0.07);
  --exam-alt-color: var(--purple-color);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.container {
  padding: 10px 15px;
  margin-top: 64px;
}
::-webkit-scrollbar {
  background-color: rgb(0 0 0 / 10%);
}
::-webkit-scrollbar-thumb {
  background-color: var(--purple-color);
}
.title {
  border: none;
  position: relative;
  color: white;
  background-color: var(--purple-color);
  padding: 10px 30px;
  transition: 0.5s;
  letter-spacing: 0.1em;
  transition-delay: 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 150px;
  height: 40px;
  font-size: 19px;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 20px;
  cursor: pointer;
}
.title:hover {
  color: var(--title-color) !important;
  letter-spacing: 0.25em;
  text-shadow: 0 0 5px var(--title-color);
  transition-delay: 1ms;
}
.title span {
  position: absolute;
  display: block;
  background-color: var(--title-color);
  box-shadow: 0 0 5px var(--title-color);
}
.title span:nth-child(1) {
  left: 0;
  top: 0;
  width: 50.5%;
  height: 2px;
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: right;
}
.title:hover span:nth-child(1) {
  transform: scaleX(1);
}
.title span:nth-child(2) {
  right: 0;
  top: 0;
  width: 50.5%;
  height: 2px;
  transform: scaleX(0);
  transition: 0.5s;
  transform-origin: left;
}
.title:hover span:nth-child(2) {
  transform: scaleX(1);
}
.title span:nth-child(3) {
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transition: 0.5s;
  transition-delay: 0.4s;
  transform-origin: top;
}
.title:hover span:nth-child(3) {
  transform: scaleY(1);
}
.title span:nth-child(4) {
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transition: 0.5s;
  transition-delay: 0.4s;
  transform-origin: top;
}
.title:hover span:nth-child(4) {
  transform: scaleY(1);
}
.title span:nth-child(5) {
  left: 0;
  bottom: 0;
  width: 50.5%;
  height: 2px;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.8s;
  transform-origin: left;
}
.title:hover span:nth-child(5) {
  transform: scaleX(1);
}
.title span:nth-child(6) {
  right: 0;
  bottom: 0;
  width: 50.5%;
  height: 2px;
  transform: scaleX(0);
  transition: 0.5s;
  transition-delay: 0.8s;
  transform-origin: right;
}
.title:hover span:nth-child(6) {
  transform: scaleX(1);
}
/* End Global Rules */
/* Start Sidebar */
.content {
  margin-left: 80px;
  transition: 0.5s;
  display: flex;
}
.ml-250 {
  margin-left: 250px;
}
.head {
  background-color: var(--box-color);
  box-shadow: 0 0 10px var(--shadow-color);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 98;
  height: 64px;
  flex-direction: row-reverse;
  color: var(--black-color);
  padding-left: 20px;
}
.head i {
  font-size: 18px;
  cursor: pointer;
  color: var(--black-color);
  margin-right: 5px;
}
.head .text {
  font-weight: bold;
  line-height: 1.5;
}
.class {
  font-size: 18px;
  font-weight: bold;
  color: var(--black-color);
  text-align: center;
  line-height: 1.8;
}
@media (max-width: 419px) {
  .head .text {
    font-size: 13px;
  }
  .head {
    padding: 0;
    padding-left: 15px;
  }
}
.sidebar {
  width: 250px;
  opacity: 1;
  z-index: 99;
  position: fixed;
  height: 100%;
  padding: 10px 14px;
  transition: 0.5s;
  box-shadow: 0 0 10px var(--shadow-color);
  background-color: var(--box-color);
}
.sidebar header {
  position: relative;
  display: flex;
  margin-left: 5px;
}
.sidebar .image-text .image i {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: var(--purple-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  margin: auto;
}
.sidebar.close .image-text .image i {
  margin: 0;
}
.sidebar.close .image-text .imgss {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin: auto;
}
.sidebar .image-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sidebar.close header .toggle {
  transform: translateY(-50%);
}
.header-text .name {
  font-weight: 600;
  color: var(--grey-color);
}
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%) rotate(180deg);
  background-color: var(--purple-color);
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50%;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}
.sidebar .menu {
  margin-top: 7px;
}
.sidebar li {
  margin-top: 10px;
}
.sidebar li .icon {
  min-width: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.w-44 {
  min-width: 44px !important;
}
.sidebar li .icon,
.sidebar li .text {
  color: var(--grey-color);
  transition: 0.3s;
}
.sidebar li a {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: 0.4s;
  border: 1px solid var(--grey-color);
}
.sidebar li a.active {
  background-color: var(--purple-color);
  border: none;
}
.sidebar li a.active i,
.sidebar li a:hover i,
.sidebar li a.active span,
.sidebar li a:hover span,
.sidebar li a:hover {
  color: white;
  border: none;
}
.sidebar li a:hover {
  background-color: var(--purple-color);
}
.sidebar .menu-bar {
  height: calc(100% - 50px) !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}
.menu-bar .mode {
  position: relative;
  border-radius: 6px;
  font-weight: 600 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}
.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}
.menu-bar .mode i {
  position: absolute;
}
/* .change {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--box-color);
  margin-top: 20px;
  border-radius: 6px;
  gap: 15px;
  padding: 7px;
}
.change p {
  color: var(--black-color);
  font-size: 23px;
  margin: 18px;
  font-weight: bold;
}
@media (max-width: 618px) {
  .change p {
    font-size: 16px;
  }
}
@media (max-width: 485px) {
  .change p {
    font-size: 13px;
    text-align: center;
    line-height: 1.5;
  }
}
.change input {
  display: block;
  height: 50px;
  background-color: var(--exam-color);
  border-radius: 6px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  width: 320px;
  color: var(--black-color);
}
@media (max-width: 443px) {
  .change input {
    width: -webkit-fill-available;
  }
}
.change input::placeholder {
  color: var(--black-color);
}
.change input:focus {
  outline: none;
}
.change button {
  padding: 5px 0;
  border-radius: 6px;
  background-color: var(--purple-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  font-family: "Cairo", sans-serif;
  width: 170px;
}
.change div {
  font-weight: bold;
  padding: 7px 0;
  background-color: var(--purple-color);
  color: white;
  font-size: 20px;
  width: 100px;
  text-align: center;
  border-radius: 6px;
  margin-top: 25px;
} */
.sidebar.close {
  width: 80px;
}
.sidebar.close .text {
  opacity: 0;
  display: none;
}
.sidebar.close header .toggle {
  right: -25px;
}
.sidebar.close li a {
  width: auto;
}
.sidebar.close li {
  margin: 10px 0 0 0;
}
.sidebar.close .menu-bar {
  justify-content: space-between !important;
}
@media (max-width: 740px) {
  .sidebar {
    width: 100%;
  }
  .w-44 {
    min-width: 44px !important;
  }
  .sidebar header .toggle {
    right: 0;
  }
  .sidebar .menu-bar {
    justify-content: center !important;
  }
  .sidebar li a {
    justify-content: left;
    width: 276px;
    margin: auto;
  }
  .sidebar li {
    margin: 0;
  }
  .sidebar li .icon,
  .sidebar li .text {
    font-size: 20px;
  }
  .sidebar.close + .content {
    margin-left: 80px;
  }
  .sidebar + .content {
    margin-left: 0;
  }
  .menu-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
.sub-menu-wrap {
  position: absolute;
  top: 89%;
  right: 2%;
  width: 320px;
  z-index: 99;
  max-height: 0px;
  overflow: hidden;
  border-radius: 6px;
  transition: max-height 0.5s;
  box-shadow: var(--shadow-color) 0px 0px 10px;
}
.sub-menu-wrap.open-menu {
  max-height: 400px;
}
.sub-menu {
  background-color: var(--box-color);
  padding: 15px;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info h2 {
  font-weight: 600;
  color: var(--black-color);
  font-family: Arial, Helvetica, sans-serif;
}
.user-info .img-p {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}
.sub-menu hr {
  border: 0;
  height: 2px;
  width: 100%;
  margin: 15 0 10px;
  background-color: #ccc;
}
.page .my-stl {
  margin: 20px 20px 40px;
  width: 121px;
  overflow: hidden;
  white-space: nowrap;
}
.sub-menu-link {
  display: flex;
  align-items: center;
  color: black;
  margin: 7px 0;
}
.sub-menu-link p {
  flex-grow: 1;
  transition: 0.3s;
  color: var(--black-color);
  font-family: Arial, Helvetica, sans-serif;
}
.sub-menu-link p:hover {
  color: var(--purple-color);
}
.sub-menu-link i {
  width: 25px;
  height: 25px;
  background-color: var(--icon-color);
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-menu-link span {
  font-size: 20px;
  color: var(--black-color);
  transition: 0.3s;
}
.sub-menu-link:hover span {
  transform: translateX(5px);
}
@media (max-width: 440px) {
  .sub-menu-wrap {
    width: 291px;
  }
  .sub-menu-wrap.open-menu {
    max-height: 349px;
  }
  .user-info h2 {
    font-size: 20px;
  }
}
@media (max-width: 387px) {
  .sub-menu-wrap {
    width: 258px;
  }
  .sub-menu-wrap.open-menu {
    max-height: 324px;
  }
  .user-info h2 {
    font-size: 17px;
  }
}
/* End Sidebar */
/* Start Main Page */
.main-page {
  width: 100%;
}
@media (max-width: 800px) {
  .main-page h1 {
    text-align: center;
    line-height: 2;
  }
}
.main-page h1 {
  border-right: 2px solid var(--black-color);
  overflow: hidden;
  white-space: nowrap;
  animation: control-width 5s 1s steps(15) infinite both, blink 0.5s 1s infinite;
  color: var(--black-color);
  text-align: right;
  font-size: 27px;
  margin-bottom: 22px;
}
.main-page .dec {
  color: var(--black-color);
  margin-bottom: 34px;
  line-height: 2;
  width: fit-content;
  text-align: center;
}
@keyframes control-width {
  0% {
    width: 0;
  }
  50% {
    width: 245px;
  }
  100% {
    width: 0;
  }
}
@keyframes blink {
  from {
    border-right-color: var(--black-color);
  }
  to {
    border-right-color: transparent;
  }
}
.main-page h2 {
  color: var(--black-color);
  text-align: center;
  font-size: 30px;
  background-color: var(--box-color);
  padding: 14px;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: 0.3s;
}
.main-page .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 25px;
}
.main-page .box .emty {
  position: relative;
  overflow: hidden;
  background-color: var(--box-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
.main-page .box .emty h3 {
  color: var(--black-color);
  text-align: center;
  font-size: 30px;
  transition: 0.5s;
  margin: 20px;
}
.main-page .box .emty p {
  color: var(--black-color);
  background-color: var(--purple-alt-color);
  padding: 10px;
  margin: 10px auto 20px;
  width: calc(100% - 30px);
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  min-height: 126px;
  text-align: center;
  border-radius: 6px;
}
@media (max-width: 1510px) {
  .main-page .box .emty p {
    min-height: 130px;
  }
}
@media (max-width: 1050px) {
  .main-page .box .emty p {
    min-height: 90px;
  }
}
@media (max-width: 575px) {
  .main-page .boxs {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
@media (max-width: 355px) {
  .main-page .boxs {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 370px) {
  .main-page .box:last-child .emty h3 {
    font-size: 24px;
  }
}
.main-page .boxs .box {
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 457px) {
  .main-page .boxs .box {
    text-align: right;
  }
}
.main-page .links .box .emty div {
  padding: 20px;
  color: var(--black-color);
  line-height: 2;
}
.main-page .links a {
  color: var(--black-color);
  position: relative;
}
.main-page .links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--purple-color);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}
.main-page .links a:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}
.main-page .links i,
.main-page .links .img {
  width: calc(100% - 20px);
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  background-color: var(--body-color);
  margin: 10px 10px 0;
  border-radius: 6px;
}
.main-page .exam .time {
  display: flex;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  color: var(--black-color);
  width: 100%;
}
.main-page .exam .unit {
  border: 1px solid var(--grey-color);
  border-radius: 6px;
  text-align: center;
  transition: 0.3s;
  width: calc(100% / 4);
  transition: 0.3s;
}
.main-page .exam .unit:hover,
.main-page .time .unit:hover span:last-child {
  border-color: var(--purple-color);
}
.main-page .time .unit span:first-child {
  font-size: 35px;
  padding: 10px;
  font-weight: bold;
  display: block;
}
.main-page .time .unit span:last-child {
  padding: 8px 10px;
  font-size: 20px;
  border-top: 1px solid var(--grey-color);
  display: block;
  transition: 0.3s;
}
@media (max-width: 575px) {
  .main-page .exam .time {
    flex-wrap: wrap;
  }
  .main-page .exam .unit {
    width: calc(100% / 2.1);
  }
  .h2-exam {
    font-size: 18px !important;
  }
}
.up {
  position: fixed;
  z-index: 99;
  right: -50px;
  bottom: 20px;
  background-color: var(--purple-color);
  padding: 8px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
}
.up.show {
  right: 20px;
}
/* End Main Page */
/* Start Feedback */
.feed-container {
  display: flex;
  flex-direction: column;
}
.main-page .h1-feed {
  animation: control-width-2 3s 1s steps(6) infinite both,
    blink 0.5s 1s infinite;
}

@keyframes control-width-2 {
  0% {
    width: 0;
  }
  50% {
    width: 62px;
  }
  100% {
    width: 0;
  }
}
.main-page .feedback {
  display: flex;
  flex-direction: column;
  padding: 22px 44px;
  width: 90%;
  max-width: 600px;
  margin: auto;
  background-color: var(--box-color);
  border-radius: 6px;
}
.main-page .feedback h3 {
  text-align: center;
  color: var(--black-color);
  font-size: 22px;
  margin: 20px 0;
}
@media (max-width: 575px) {
  .main-page .feedback {
    padding: 12px;
  }
}
.main-page .feedback input,
.main-page .feedback textarea {
  border: 0;
  outline: none;
  margin: 10px 0;
  padding: 20px;
  resize: none;
  font-size: 16px;
  color: white;
  background-color: var(--purple-color);
  border-radius: 6px;
}
.main-page .feedback textarea {
  height: 105px;
  resize: none;
}

.main-page .feedback input:focus,
.main-page .feedback textarea:focus {
  outline: none;
}
.main-page .feedback input::placeholder,
.main-page .feedback textarea::placeholder {
  color: white;
}
.main-page .feedback-2 .feed-p {
  color: var(--black-color);
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 12px;
  line-height: 2;
}
.main-page .feedback-2 .feed-number {
  font-size: 40px;
  color: white;
  background-color: var(--purple-color);
  border-radius: 6px;
  width: fit-content;
  margin: auto;
  padding: 7px 22px;
  display: block;
}
.main-page .feedback-2 .title-2 {
  height: fit-content;
}
@media (max-width: 550px) {
  .main-page .feedback-2 .feed-number {
    font-size: 25px;
  }
}
.modal {
  width: 550px;
  height: 362px;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translate(-43%, 66%);
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px,
    rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px,
    rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  max-width: 600px;
  margin: auto;
}
.modal.active-5 {
  visibility: visible;
  opacity: 1;
  z-index: 99999999;
}
.close-btn {
  position: relative;
  left: 92%;
  width: 40px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 8px 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s linear;
}
.close-btn:hover {
  transform: rotate(180deg);
}
.bars {
  width: 70%;
  height: 4px;
  background: var(--purple-color);
  border-radius: 10px;
}
.bar1 {
  position: absolute;
  transform: rotate(45deg);
}
.bar2 {
  position: absolute;
  transform: rotate(-45deg);
}
.modal-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-body i {
  color: var(--purple-color);
  font-size: 68px;
}
.modal-body h2 {
  font-weight: 400;
  color: #222f3e;
  margin: 20px 0 10px 0;
  background-color: white;
}
.modal-body p {
  width: 300px;
  color: #576574;
  text-align: center;
  margin-bottom: -26px;
  display: flex;
  justify-content: center;
  margin-top: 23px;
}
.modal-body .join-btn {
  border: none;
  outline: none;
  width: 200px;
  padding: 10px 20px;
  background: #54a0ff;
  color: #fff;
  border-radius: 25px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.modal-body .my-a {
  border: none;
  border-radius: 6px;
  background-color: var(--purple-color);
  color: white;
  font-weight: bold;
  width: 150px;
  height: 40px;
  font-size: 19px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 54px;
}
.title-3 span {
  background-color: #00eeff;
}
.title-3:hover {
  color: #00eeff !important;
  text-shadow: 0 0 5px #00eeff !important;
}
/* End Feedback */
/* Start Papers */
.h1-papers {
  animation: control-width-3 5s 1s steps(15) infinite both,
    blink 0.5s 1s infinite !important;
}
@keyframes control-width-3 {
  0% {
    width: 0;
  }
  50% {
    width: 164px;
  }
  100% {
    width: 0;
  }
}
.box-papers {
  background-color: var(--box-color);
  border-radius: 6px;
  padding: 10px 30px;
  color: white;
}
.box-papers p {
  padding: 12px;
  border-bottom: 2px solid var(--purple-color);
  background-color: var(--purple-color);
  border-radius: 6px;
  line-height: 2;
  text-align: center;
  font-size: 18px;
}
.box-papers p:not(:last-child) {
  margin-bottom: 25px;
}
/* End Papers */
/* Start Exam */
.h1-exam {
  animation: control-width-4 5s 1s steps(15) infinite both,
    blink 0.5s 1s infinite !important;
}
@keyframes control-width-4 {
  0% {
    width: 0;
  }
  50% {
    width: 206px;
  }
  100% {
    width: 0;
  }
}
.exam-form {
  background-color: var(--box-color);
  padding: 15px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.exam-form input {
  display: block;
  height: 50px;
  background-color: var(--purple-color);
  border-radius: 6px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  width: 320px;
  color: white;
}
.exam-form input::placeholder {
  color: white;
}
.exam-form input:focus {
  outline: none;
}
.select {
  padding: 5px 15px;
  border-radius: 6px 6px 0 0;
  background-color: var(--purple-color);
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 120px;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid white;
}
.select .optain {
  font-size: 16px;
  position: absolute;
  top: 32px;
  background-color: var(--purple-color);
  width: 100%;
  left: 0;
  border-radius: 0 0 6px 6px;
  display: flex;
  flex-direction: column;
  max-height: 0;
  transition: max-height 0.3s;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 0 10px var(--shadow-color);
}
.select .optain p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 16px 0;
  color: white;
}
.select .optain p:not(:last-child) {
  border-bottom: 1px solid white;
}
.exam-form button {
  padding: 5px 0;
  border-radius: 6px;
  background-color: var(--purple-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  font-family: "Cairo", sans-serif;
  width: 170px;
}
.h-full {
  max-height: fit-content !important;
  padding: 5px;
}
.exam-2 {
  background-color: var(--box-color);
  padding: 15px;
  margin-top: 20px;
  color: var(--black-color);
  border-radius: 6px;
}
.exam-2 > div {
  display: flex;
  border-radius: 6px;
  height: 50px;
  overflow: hidden;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.exam-2 > div .deg,
.exam-2 > div .name {
  background-color: var(--exam-alt-color);
  padding: 7px;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.exam-2 > div .deg {
  width: 70%;
  border-right: 2px solid var(--black-color);
}
.exam-2 > div .name {
  width: 30%;
}
@media (max-width: 616px) {
  .exam-2 > div .deg {
    width: calc(100% - 34%);
    font-size: 17px;
  }
  .exam-2 > div .name {
    width: 34%;
    font-size: 14px;
    justify-content: center;
  }
  .exam-form input {
    width: -webkit-fill-available;
  }
  .user-name .deg {
    font-size: 12px !important;
    line-height: 2 !important;
  }
  .religion {
    text-align: center;
    line-height: 1.7;
  }
  .exam-2 {
    padding: 12px;
  }
  .exam-2 > div .deg,
  .exam-2 > div .name {
    justify-content: center;
    text-align: center;
  }
}
/* End Exam */
.add-Data {
  background-color: var(--box-color);
  margin: 0 15px;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.add-Data .select {
  margin: 0 auto 10px;
}
.add-Data .hid {
  display: none;
}
.add-Data > input {
  width: 260px;
  margin: auto;
  background-color: var(--purple-color);
  border: none;
  border-radius: 6px;
  padding: 7px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
@media (max-width: 392px) {
  .add-Data > input {
    width: -webkit-fill-available;
  }
}
.add-Data > input::placeholder {
  color: white;
}
.add-Data > input:focus {
  outline: none;
}
.grades {
  display: grid;
  grid-template-columns: repeat(3, calc((100% / 3) - 10px));
  gap: 15px;
  margin-top: 25px;
}
@media (max-width: 770px) {
  .grades {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}
@media (max-width: 419px) {
  .grades {
    grid-template-columns: 100%;
  }
}
.grades input {
  background-color: var(--purple-color);
  border: none;
  border-radius: 6px;
  padding: 7px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.grades input::placeholder {
  color: white;
}
.grades input:focus {
  outline: none;
}
.add-Data button {
  width: 260px;
  margin: auto;
  background-color: var(--purple-color);
  border: none;
  border-radius: 6px;
  padding: 7px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
}
@media (max-width: 392px) {
  .add-Data button {
    width: -webkit-fill-available;
  }
}
.add-Data .class-2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--black-color);
  text-align: center;
  line-height: 1.8;
}
/* Start Books */
.h1-book {
  animation: control-width-5 5s 1s steps(15) infinite both,
    blink 0.5s 1s infinite !important;
}
@keyframes control-width-5 {
  0% {
    width: 0;
  }
  50% {
    width: 184px;
  }
  100% {
    width: 0;
  }
}
/* End Books */
.coolBeans {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: var(--purple-color);
  font-size: 25px;
  font-weight: bold;
  overflow: hidden;
  padding: 12px 18px;
  transition: 0.2s transform ease-in-out;
  position: relative;
  z-index: 0;
}
.coolBeans::after {
  background-color: var(--purple-color);
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.coolBeans:hover::after {
  transform: translate(0, 0);
}
.coolBeans:hover {
  border: 2px solid transparent;
  color: white;
  transform: scale(1.05);
  will-change: transform;
}
.box .text {
  color: var(--black-color);
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.pass {
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  background-color: var(--purple-color);
  border: none;
  border-radius: 6px;
  padding: 7px 15px;
  width: 250px;
  transform: translate(-50%, -50%);
  z-index: 9;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
}
@media (max-width: 396px) {
  .pass {
    width: auto;
  }
}
.blur {
  filter: blur(40px);
  cursor: none;
}
.chos_subject {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 100px;
  row-gap: 50px;
}
.chos_subject a {
  background-color: var(--purple-color);
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: url("../imgs/back.png");
}
.chos_subject a img {
  position: absolute;
  position: absolute;
  left: -470px;
  transform: rotate(83deg);
  top: -666px;
}
.classes {
  font-size: 25px;
  font-weight: bold;
  text-align: right;
  color: var(--black-color);
}
@media (max-width: 566px) {
  .main-page .dec {
    margin-bottom: 0;
  }
  .main-page h2 {
    margin: 20px auto;
    font-size: 25px;
  }
  .main-page .boxs {
    gap: 15px;
  }
  .main-page .box .emty h3 {
    margin: 15px;
    font-size: 25px;
  }
  .main-page .links i {
    height: 145px;
    font-size: 75px;
  }
  .main-page .links .img {
    height: 145px;
  }
  .main-page .links .img img {
    width: 90px !important;
  }
  .main-page h1 {
    margin: 0;
  }
  .main-page .box .emty p {
    margin: 10px auto;
  }
  .target .box:nth-child(5),
  .target .box:nth-child(6) {
    display: none;
  }
  .main-page .exam .time {
    margin: auto;
  }
  .box .text {
    font-size: 23px;
  }
  .coolBeans {
    font-size: 23px;
    height: 52px !important;
    width: 164px !important;
  }
  .classes {
    font-size: 23px;
  }
}
